USE [master]
GO
/****** Object:  Database [FuncionariosDB]    Script Date: 12/11/2025 17:03:04 ******/
CREATE DATABASE [FuncionariosDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FuncionariosDB' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FuncionariosDB_log', SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FuncionariosDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FuncionariosDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/11/2025 17:03:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profissionais]    Script Date: 12/11/2025 17:03:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profissionais](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NomeCompleto] [nvarchar](100) NOT NULL,
	[Telefone] [nvarchar](15) NULL,
	[RG] [nvarchar](20) NULL,
	[CEP] [nvarchar](9) NULL,
	[Endereco] [nvarchar](100) NULL,
	[Bairro] [nvarchar](50) NULL,
	[Cidade] [nvarchar](50) NULL,
	[UF] [nvarchar](2) NULL,
	[Salario] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Profissionais] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
